.program-section{
    background-color: #2B71F0;
}

.program-card{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

/*----------------------section-2------------------------*/

.learning-section{
    background-color:#E7EDF7; 
}

.items{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}


/*----------------------section-3------------------------*/

.instructor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.instructor-img{
    width: 30%;
    position: flex;
   /* border: 1px solid #000;*/
}

.instructor-img img{
    width: 50%;
    border-radius: 100%;
    border: 8px solid #E7EDF7;
}

.instructor-img .instructor-img-1{
    transform: translate(20px, 20px); 
}

.instructor-img .instructor-img-2{
    transform: translate(-20px, 100px); 
    z-index: 1;
}

.instructor-img .instructor-img-3{
    transform: translate(50px, -16px); 
    z-index: 2;
} 

.instructor-text{
    width:65%;
    font-size: 32px;
    color: #676767;
    /*border: 1px solid #000;*/
}

.instructor-text h2{
    color:#001A40;
    margin-bottom: 10px;
}

/*------------- media query ---------------*/

@media screen and (max-width: 1350px){
    .instructor-img{
        width: 40%;
    }

    .instructor-text{
        width: 55%;
    }
    
}


@media screen and (max-width: 900px){
    .instructor{
       flex-direction: column;
    }

   .instructor-img{
        width: 100%;
        padding: 0 25%;
        margin-bottom: 20px;
    }
    
    .instructor-text{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 800px){
    .instructor-img{
        padding: 0 23%;
    }
}

@media screen and (max-width: 750px){
    .instructor-img{
        padding: 0 20%;
    }
}

@media screen and (max-width: 650px){
    .instructor-img{
        padding: 0 15%;
    }
}

@media screen and (max-width: 550px){
    .instructor-img{
        padding: 0 10%;
    }
}

@media screen and (max-width: 450px){
    .instructor-img{
        padding: 0 2.5%;
    }
}

@media screen and (max-width: 400px){
    .instructor-img{
        width: 100%;
        padding: 0;
    }
}