.footer{
    margin:10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #797979;
    padding: 15px 0;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/*---------------- media query -------------*/

@media (max-width: 768px){
    .footer{
        flex-direction: column;

    }

    .footer p{
        order: 2;
        text-align: center;
    }

    .footer ul{
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer ul li{
        margin-left: 0;
        margin-bottom: 20px;
        
    }
}